

<div class="d-flex flex-row">
  <div>
    <%= link_to " ", root_path,  class:"fa-solid fa-arrow-left-long ms-5", style:"font-size:25px; margin-top: 89px; color:#005FA3; text-decoration: none;"%>
  </div>
  <div class="container header-show-container" style="width:80%; margin-top: 85px;margin-left:64px;">
    <h3 ><%=@van.title%></h3>
    <p style="font-size:15px;"><i class="fa-solid fa-location-dot" ></i>  <%=  @van.location%> • <%= @van.bookings.count%> comments</p>
  </div>

</div>
<a href="" data-bs-toggle="modal" data-bs-target="#modalphoto">
<div class="container van-show"  style="width:80%;">
  <div class="d-flex">
    <div class="big-card" style="height:400px;width:50%">

      <img src="<%= cl_image_path @van.photos[0].key%>" alt="" style="width:100%; height:100%;border-radius: 5px;">
    </div>
    <div class="cards" style="height:400px;width:50%">
      <% @van.photos.each do |photo| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path photo.key%>)">
        </div>
        <% end %>
    </div>
  </div>
  </a>
<!-- Button trigger modal -->
<% @count = 0 %>
<!-- Modal -->
<div class="van-show">
<div class="modal fade" id="modalphoto" tabindex="-1" aria-labelledby="modalphotoLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content-show" style="background-color:white">
      <div class="modal-header" style="background-color:white">
        <h5 class="modal-title" id="modalphotoLabel">Photos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="background-color:white">
        <div id="carouselExampleIndicators-<%@van.photos%> "class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
          <% @van.photos.each do |photo| %>
            <% if @count == 0 %>
              <button type="button" data-bs-target="#carouselExampleIndicators-<%@van.photos%>" data-bs-slide-to="<%=@count%>" class="active" aria-current="true" aria-label="Slide <%=@count + 1%>"></button>
            <% else %>
              <button type="button" data-bs-target="#carouselExampleIndicators-<%@van.photos%>" data-bs-slide-to="<%=@count%>" aria-label=Slide <%=@count + 1%>"></button>
            <% end %>
          <% @count += 1 %>
          <% end %>
          </div>
          <div class="carousel-inner">
            <% @van.photos.each do |photo| %>
              <div class="carousel-item active">
                <img src="<%= cl_image_path photo.key, height: 600, crop: :fill %>" class="d-block w-100" alt="photo van">
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cards">
</div>

  <div class="d-flex justify-content-between">
    <div style="margin-top:20px;width:65%">
      <div class="border-bottom">
        <h5><%=@van.brand%> • <%=@van.user.first_name %>'s Van</h5>
        <p style="font-size:15px;"><i class="fa-solid fa-user-group"> </i> <%= @van.capacity%>  person</p>
      </div>
      <div class="border-bottom" style="margin-top:20px">
        <h4>Description:</h4>
        <p style="margin-bottom:10px"><%=@van.description%></p>
      </div>
      <div class="row">
        <div  class="pe-5 col-6" style="margin-top:20px">
          <h4>Caracteristics:</h4>
          <p><i class="fa-solid fa-road"></i>  <%= @van.mileage.to_s.gsub(/\d(?=(...)+$)/, '\0 ') %> mileage</p>
          <p><i class="fa-solid fa-brush"></i>  <%= @van.color %></p>
          <p><i class="fa-solid fa-gas-pump"></i>  Gaz</p>
          <p><i class="fa-solid fa-gear"></i>  Automatic Gearbox</p>
          <p><i class="fa-solid fa-arrows-left-right-to-line"></i>  5 meters long</p>
          <p style="margin-bottom:25px"><i class="fa-solid fa-truck-droplet"></i>  13 liter per KM</p>
        </div>
        <div class="border-start border-1 ps-5 col-6" style="margin-top:20px">
          <h4>Equipments:</h4>
          <p><i class="fa-solid fa-person-snowboarding"></i> Surfboard</p>
          <p><i class="fa-solid fa-location-arrow"></i> GPS</p>
          <p><i class="fa-solid fa-toilet"></i> Dry toilet</p>
          <p><i class="fa-solid fa-mattress-pillow"></i></i> Hamac</p>
          <p><i class="fa-solid fa-kitchen-set"></i></i> Kitchen</p>
          <p><i class="fa-solid fa-shower"></i></i> Shower</p>
        </div>
        <div class="reviews border-bottom border-top">
          <h3 style="margin-top:20px"><span class="mov" style="font-size:22px;"> <i class="fa-solid fa-star" style="font-size:15px"></i> <%= @van.bookings.count - 1 %> Comments </span></h3>
          <% @van.bookings.each do |booking| %>
            <%if booking.review%>
            <div class="review pe-5" style="margin-bottom:15px;margin-left:25px">
              <div class="d-flex">
                <%= "⭐️" * booking.review.rating %>
              </div>
                <%= booking.review.content %>
            </div>
            <%else%>
            <%end%>
          <%end %>
        </div>
      </div>
    </div>


    <div style="width:28%">
      <div class="card card-trip" style="background-color:white;margin-top:15px;position:sticky;top:90px">
        <div class="card-body">
          <h6 class="card-title" style="text-align:"><%=@van.price_per_day%>€ / nuit</h6>
          <div data-controller="flatpickr" data-flatpickr-dates-value="<%= @van.flatpickr_booked_dates_object %>">

            <div data-controller="dynamic-booking-price" data-dynamic-booking-price-price-value="<%= @van.price_per_day %>">
              <%= simple_form_for [@van, @booking],
                html: { data: { controller: 'flatpickr', class: 'datepicker', action: "submit->flatpickr#send"} } do |f| %>
                <%= f.input :start_date, as: :string, input_html: { data: {
                  flatpickr_target: 'startDateInput',
                  dynamic_booking_price_target: 'startDateInput',
                  action: 'change->dynamic-booking-price#updatePrice'
                  }} %>
                <%= f.input :end_date, as: :string,input_html: { data: { flatpickr_target: 'endDateInput',dynamic_booking_price_target: 'endDateInput', action: 'change->dynamic-booking-price#updatePrice'}} %>
                <p id="total-price">
                  <strong>Total price:</strong> <span data-dynamic-booking-price-target="priceHolder"><%= @van.price_per_day %></span> €
                </p>
                <%= f.submit 'Book now!', class: 'btn btn-primary' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container" style="margin-top:20px">
  <h3><span class="mov" style="font-size:22px;"> <i class="fa-solid fa-star" style="font-size:15px"></i> <%= @van.bookings.count - 1 %> Comments </span></h3>
  <div class="reviews row">
  <% @van.bookings.each do |booking| %>
    <%if booking.review%>
    <div class="review col-6">
      <div class="d-flex">
        <%= "⭐️" * booking.review.rating %>
      </div>
    </div>
    <%else%>
    <%end%>
  <%end %>
  </div>
</div>


 <div class="container van-show border-top d-flex justify-content-center flex-column"  style="margin-top:20px; margin-bottom:40px">
  <div style="margin-top:20px ">
    <h4>Van's location</h4>
    <p><i class="fa-solid fa-location-dot"></i> <%= @van.location%></p>
  </div>
  <div style="width: 100%; height: 400px;"
    data-controller="map"
    data-map-markers-value="<%= @marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
