
<div class="container p-4" style="width:70%;">
  <h3><%=@van.title%></h3>
  <p><%=@van.location%></p>

</div>
<div class="container van-show"  style="width:70%;">
  <div class="d-flex">
    <div class="big-card" style="height:400px;width:50%">
      <img src="https://images.unsplash.com/photo-1561361513-2d000a50f0dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1776&q=80" alt="" style="width:100%; height:100%;border-radius: 5px;">
    </div>
    <div class="cards" style="height:400px;width:50%">
      <% @van.photos.each do |photo| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path photo.key%>)">
        </div>
        <% end %>
    </div>
  </div>


  <div class="d-flex">
    <div style="margin-top:20px;width:65%">
        <div class="border-bottom">
          <h4><%=@van.brand%></h4>
          <p> <%= @van.capacity %></p>
          <p><i class="fa-solid fa-user-group"></i>3 people</p>
        </div>

        <div class="border-bottom" style="margin-top:20px">
          <h4>Van proposition:</h4>
          <p style="margin-bottom:10px"><%=@van.description%></p>
        </div>
        <div style="margin-top:20px">
          <h4>Van caracteristics:</h4>
          <p><i class="fa-solid fa-road"></i>  <%= @van.mileage %> mileage</p>
          <p><i class="fa-solid fa-brush"></i>  <%= @van.color %></p>
          <p><i class="fa-solid fa-gas-pump"></i>  Gaz</p>
          <p><i class="fa-solid fa-gear"></i>  Automatic gearbox</p>
          <p><i class="fa-solid fa-arrows-left-right-to-line"></i>  5 meters long</p>
          <p style="margin-bottom:25px"><i class="fa-solid fa-truck-droplet"></i>  13 liter per KM</p>

          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            See equipments
          </button>
<!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">All equipments</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p><i class="fa-solid fa-person-snowboarding"></i>Surfboard</p>
                  <p><i class="fa-solid fa-location-arrow"></i>GPS</p>
                  <p><i class="fa-solid fa-toilet"></i>Dry toilet</p>
                  <p><i class="fa-solid fa-mattress-pillow"></i></i>Hamac</p>
                  <p><i class="fa-solid fa-kitchen-set"></i></i>Kitchen</p>
                  <p><i class="fa-solid fa-shower"></i></i>Shower</p>
                </div>
                <div class="modal-footer">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div style="width:35%">
      <div class="card card-trip" style="background-color:white;margin-top:15px;">
        <div class="card-body" style="position: sticky;">
          <h6 class="card-title" style="text-align:"><%=@van.price_per_day%>€ / nuit</h6>
            <%= simple_form_for [@van, @booking] do |f| %>
            <%= f.input :start_date, as: :date, html5: true %>
            <%= f.input :end_date, as: :date, html5: true %>
            <%= f.submit "Book your van", class: "btn btn-primary" %>
          <% end %>
          <div class="border-top d-flex align-items-center">
            <div class="mt-3"><span>Prix total</span></div>
            <div class="mt-3"><span>calcul à faire</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container van-show border-top d-flex justify-content-center"  style="width:70%;margin-top:20px">
    <div style="margin-top:20px">
      <h4>Van location</h4>
      <p><%=@van.location%></p>
      <%= image_tag "map_fake", style: 'height:30vw;width:50vw;margin-bottom:20px;' %>
    </div>
</div>
