

<div class="form-new">
  <%= simple_form_for(van) do |f| %>
    <%= f.input :title, placeholder: 'Great vintage van...' %>
    <%= f.input :location, placeholder: 'Paris, London...', input_html: {data: {location_autocomplete_target: "location"}, class: "d-none"}, wrapper_html: {data: {controller: "location-autocomplete", location_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
    <%= f.input :description, placeholder: 'Describe your van...Be creative!'  %>

  <div class="row">
    <div class="col-6">
      <%= f.input :brand,  collection: ["Ford", "Volkswagen", "Chevrolet", "Toyota", "Mitsubishi", "Audi", "Peugeot", "Renault"], prompt: "Select a brand"  %>
    </div>
    <div class="col-6">
      <%= f.input :color, collection: ["Blue", "White", "Black", "Yellow", "Orange", "Red", "Green", "Brown"], prompt: "Select a color"  %>
    </div>
  </div>

<div class="row">
    <div class="col-4">
      <%= f.input :capacity,  collection: 1..10, prompt: "Select a capacity" %>
    </div>
    <div class="col-4">
      <%= f.input :price_per_day, placeholder: '60$', wrapper_html: { class:'' }%>
    </div>
    <div class="col-4">
     <%= f.input :mileage, placeholder: '102030 km' %>
    </div>
</div>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%# <div data-controller="alert" data-action="click->alert#send" > %>
      <%= f.submit "Rent your Van", class: "btn btn-classic-new", data: { controller: 'alert', action: 'click->alert#send'}%>
    <%# </div> %>
  <% end %>

</div>
