<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<div class="navbar">
  <div class="navbar-logo">
    <%=link_to vans_path do %>
      <a class="navbar-brand">
        <img src="https://www.mpadeco.com/thumb.php?zc=3&f=0&src=/sites/mpadeco/files/products/a7919613977f4838bc2ba176ef45c515.png&fl=none&w=500&h=500" />
      </a>
    <%end%>
  </div>
  <div class="navbar-right" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <li class="nav-item active " data-bs-toggle="modal" data-bs-target="#loginModal">
        <a class="nav-link" href="#">Log In</a>
         <%# <%=link_to "Log In", new_user_session_path, class:"nav-link"%>
      </li>
      <li class="nav-item">
        <a data-bs-toggle="modal" data-bs-target="#signinModal" class="nav-link" href="#">Sign Up</a>
      </li>
      <li class="nav-item">
        <%=link_to "Sign Out",  destroy_user_session_path, data: {turbo_method: :delete}, class:"nav-link" %>
      </li>
    </ul>
  </div>
</div>


<div class="banner">
  <div class="cover">
    <h1>Discover what's a trip is.</h1>
    <form  class="flex-form">
      <label for="from">
        <i class="ion-location"></i>
      </label>
      <input type="search" placeholder="Where do you want to go?">
      <input type="submit" value="Search">
    </form>

  </div>
</div>
<% @vans = Van.all %>

<div class="container">
  <div class="mx-auto mt-5" style="width: 80%;">
    <div class="row">
      <div class="col justify-content-around row">
        <% @vans.each do |van| %>
          <div class="col-3 card-trip border rounded-4 px-0 m-2 d-flex flex-column justify-content-between">
              <div class="d-flex align-items-center ">
                <div id="carouselExampleIndicators" class=" card-trip-img carousel slide" data-bs-ride="true">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item card-trip-img active">
                      <img src="https://images.unsplash.com/photo-1561361513-2d000a50f0dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1776&q=80"/>
                    </div>
                    <div class="carousel-item card-trip-img">
                      <img src="https://images.unsplash.com/photo-1561361513-2d000a50f0dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1776&q=80"/>
                    </div>
                    <div class="carousel-item card-trip-img">
                      <img src="https://images.unsplash.com/photo-1561361513-2d000a50f0dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1776&q=80"/>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>




              </div>
            <div class="m-2">
              <div class= "d-flex justify-content-start">
                <h2 style="color: #003459;"><%=van.brand%> </h2>
              </div>
              <div class="my-2 d-flex flex-column">
                <p class="card-text" style="color: #003459;"><%=van.location%></p>
              </div>
              <div class="d-flex flex-row justify-content-between">
                <p><span style="color: #005FA3; font-size: 14px; font-weight: 400;"><%=van.price_per_day%><i class="fa-solid fa-euro-sign"></i> day</span></p>
                <p>
                <%= link_to "En savoir plus", van_path(van), style:"color:#00477A; text-decoration: none;"%>
                <% if policy(van).edit? %>
                    <%= link_to "Edit", edit_van_path(van), style:"color:#00477A; text-decoration: none;"%>
                <% end %>
                </p>
                <%= link_to "", @van, data:{turbo_method: :delete, turbo_confirm: "Are you sure?"}, style: "text-decoration: none;  ", class:"card-trip-user fa-solid fa-trash-can", method: :delete if policy(van).destroy? %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>




<!-- Modal  SIGN IN-->
<div class="modal fade" id="signinModal" tabindex="-1" aria-labelledby="signinModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <div class="form-container">
          <h2>Sign up</h2>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email" }%>
              <%= f.input :password,
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          required: true,
                          input_html: { autocomplete: "new-password" } %>
            </div>

            <div class="btn btn-primary btn-sm">
              <%= f.button :submit, "Sign up", style: "color: white;" %>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- Modal LOG IN -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
            <div class="form-container">
              <h2>Log in</h2>

              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),  data: {turbo: false}) do |f| %>
                <div class="form-inputs">
                  <%= f.input :email,
                              required: false,
                              autofocus: true,
                              input_html: { autocomplete: "email" } %>
                  <%= f.input :password,
                              required: false,
                              input_html: { autocomplete: "current-password" } %>
                  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                </div>

                <div class="btn btn-primary btn-sm">
                  <%= f.button :submit, "Log in", style: "color: white;"  %>
                </div>
              <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
