<div class="app-container">
  <div class="app-content">
    <div class="app-sidebar">
      <div class="app-sidebar-link">
      <%= link_to dashboard_path do %>
      <div href="" class="app-sidebar-link active">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
          <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
          <polyline points="9 22 9 12 15 12 15 22" /></svg>
      </div>
      <% end %>

        <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-pie-chart" viewBox="0 0 24 24">
          <defs />
          <path d="M21.21 15.89A10 10 0 118 2.83M22 12A10 10 0 0012 2v10z" />
        </svg>
      </div>
    </div>

    <div class="vans-container">
      <div class="vans-container-header">
        <div class="vans-container-header-left">
          <p class="rentals-to-come">Vos vans</p>
          <p class="rentals-number"><em>  (<%=@vans.count%>)</em></p>
        </div>
        <p class="time"><%= Time.now().to_s.split(" ")[0] %></p>
      </div>



      <%# CARD DASHBOARD %>

        <% if @vans.empty? %>
        <div class="my_vans d-flex justify-content-center" style="margin-bottom:20px">
          <div class="cards" style="height:300px;width:600px">
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1561361513-2d000a50f0dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1776&q=80)">
            <button class="btn btn-primary" style="color: white;">Add your Van <i style="color: white;" class="fa-solid fa-plus"></i></button>

          </div>
        </div>
        <% else%>
        <div class = "dashboard-cards" >
          <% @vans.each do |van| %>
          <div class="col-3 card-trip-dashboard border rounded-4 px-0 mb-4 d-flex flex-column justify-content-between">
            <div class="m-2">
              <div class= "d-flex justify-content-center">
                <h2 style="color: #003459;"> Titre Van </h2>
              </div>
              <div class="my-2 d-flex justify-content-center ">
                <p class="card-text-dashboard" style="color: #003459;"> <%= van.brand %> -  <%= van.location %></p>
              </div>
            </div>
            <img class="card-trip-img-dashboard" src="https://images.unsplash.com/photo-1561361513-2d000a50f0dc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1776&q=80"/>
          </div>
          <% end %>
          </div>
        <%end%>
    </div>

  </div>
</div>
