<div class="col margin:20px;" style="background-color:white;padding:15px">
    <h1>New review</h1>
      <%= simple_form_for [@booking, @review] do |f| %>
        <%= f.input :content %>
        <%= f.collection_radio_buttons :rating, [[5], [4], [3], [2], [1]], :first, :last, item_wrapper_tag: false, boolean_style: :inline do |b| %>
  <%= b.radio_button + b.label {''} %>
    <% end %>
        <%= f.submit "Submit review", class: "btn btn-primary" %>
      <% end %>
</div>
